{% extends "mobile/index.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/waldinventur.css' %}" />
{% endblock %}

{% block inventory_submit %}
  {{ block.super }}
  {% if perms.waldinventur.change_inventory %}
  <div id="manage_link"><a href="{% url 'manage' %}">{% trans "Manage my inventories…" %}</a></div>
  {% endif %}
{% endblock %}
