div#inventory-manage-div {
  position: absolute;
  top: 50%; transform: translateY(-50%); /* vert-centered */
  width: 100%;
  z-index: 1000;
  background-color: #393A38;
  text-align: center;
  font-size: 200%;
  color: white;
}
#manage_link {
  color: white;
  font-size: initial;
  font-style: italic;
  text-align: left;
  margin-left: 2em;
  margin-top: 2em;
}
#manage_link > a {
  color: white;
  text-decoration: none;
}
#manage_link > a:hover {
  font-weight: bold;
}

.inventories_list {
  display: grid;
  grid-template-columns: 1fr 1fr 0.3fr;
  justify-items: start;
  margin: 0 auto;
  width: 80%;
}
.inv_archives summary {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: left;
  cursor: pointer;
}
#ausdunnenFrm { display: none; }
#menu_daten { display: none !important; }
