{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% trans "Meine Inventare" %}</title>
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/waldinventur.css' %}" />
  </head>

  <body class="bg-dark">
    <div id="inventory-manage-div">
        <h2>Guaraci - {{ title }}</h2>
        <div class="inventories_list">
            {% for inv in inventories %}
            <div>{{ inv }}</div>
            <div><small>{{ inv.dates_str }}</small></div>
            <div>
                <a href="{% url 'inventory' inv.pk %}" title="{% trans 'View details' %}">
                    <img src="{% static 'admin/img/icon-viewlink.svg' %}">
                </a>
                <a href="{% url 'admin:waldinventur_inventory_change' inv.pk %}" title="{% trans 'Bearbeiten' %}">
                    <img src="{% static 'admin/img/icon-changelink.svg' %}">
                </a>
            </div>
            {% empty %}
            <div><i>{% trans "keine aktuellen Inventare" %}</i></div>
            {% endfor %}
        </div>
        {% if archives %}
        <details class="inv_archives">
            <summary>{% trans "Archiven" %}</summary>
            <div class="inventories_list">
                {% for inv in archives %}
                <div>{{ inv }}</div>
                <div>{{ inv.dates_str }}</div>
                <div></div>
                {% endfor %}
            </div>
        </details>
        {% endif %}
    </div>
  </body>
</html>
